.footer {
  padding: 25px 0;
  background: $cor-primaria;
  p {
    @include tipo-2(18);
    line-height: 2;
    a {
      font-weight: bold;
      color: $cor-textos;
    }
  }
}

.footer-box {
  @include flex;
  gap: 20px;
}

.redes-sociais {
  @include flex;
  width: 100px;
  gap: 20px;
  img {
    width: 40px;
  }
}
