.newslatter {
  margin-bottom: 200px;
}

.box-newslatter {
  width: 100%;
  height: 408px;
  background: url(../img/bg-newslatter.png) no-repeat center;
  padding: 100px 200px;
  border-radius: 60px;
  h2 {
    @include tipo-1(36);
    text-align: center;
    color: $cor-branca;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
  }
  @include d(tablet) {
    padding: 90px 80px;
  }
  @include d(mobile) {
    padding: 50px 0;
    height: auto;
    h2 {
      font-size: 1.875em;
      color: $cor-branca;
    }
  }
}

.form-newslatter {
  position: relative;
  input {
    @include tipo-1(18);
    width: 100%;
    height: 80px;
    background: $cor-branca;
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 20px 40px;
  }
  button {
    @include tipo-1(18);
    position: absolute;
    top: 13px;
    right: 15px;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    background: $cor-secundaria;
    cursor: pointer;
  }
  @include d(mobile) {
    padding: 0 10px;
    input {
      @include tipo-1(10);
      height: 60px;
      padding: 20px;
    }
    button {
      @include tipo-1(10);
      top: 9px;
      right: 20px;
    }
  }
}
