.popular-dishes {
  overflow: hidden;
  margin-bottom: 240px;
  input {
    @include tipo-1(14);
    text-align: center;
    outline: none;
    border: 1px solid $cor-secundaria;
    padding: 5px;
    border-radius: 3px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.header-popular-dishes {
  @include flex;
  margin: 55px 0;
  h2 {
    @include tipo-1(36);
  }
}

.buttons-slide {
  @include flex;
  gap: 20px;
  .previous {
    @include button-1;
    background: $cor-branca url(../img/seta.svg) no-repeat center;
    &:hover {
      box-shadow: 0px 1px 7px -2px #000000;
    }
  }
  .next {
    @include button-1;
    background: $cor-branca url(../img/seta.svg) no-repeat center;
    transform: rotate(180deg);
    &:hover {
      box-shadow: 0px 1px 7px -2px #000000;
    }
  }
}

.dishes {
  display: flex;
  flex-wrap: nowrap;
  width: 3650px;
  gap: 20px;
}

.box {
  width: 350px;
  height: 325px;
  border-radius: 20px;
  text-align: center;
  padding: 25px 30px;
  background: $cor-branca;
  transition: all 0.3s;
  &:first-child {
    margin-left: -10%;
  }
  h4 {
    @include tipo-1(24);
    color: $cor-quaternaria;
    margin-bottom: 10px;
  }
  p {
    @include tipo-2(14);
    margin-bottom: 25px;
  }
}

.img img {
  margin-bottom: 10px;
}

.add-cart {
  @include flex;
  span {
    @include tipo-1(18);
    color: $cor-quaternaria;
  }
}

.buttons-input {
  width: 105px;
}

.btn-sub,
.btn-add {
  @include tipo-1(14);
  width: 25px;
  height: 28px;
  background: $cor-primaria;
  border: 1px solid $cor-secundaria;
  border-radius: 3px;
  cursor: pointer;
}
